@{
    ViewData["selected"] = "index";
}
<section class="content-header">
    <h1>
        صفحه خالی
      
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a href="#">مثال ها</a></li>
        <li class="active">صفحه خالی</li>
    </ol>
</section>
